<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring Boot Thymeleaf example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">
</head>
<body>
<div class="alert alert-success">
    <strong>Spring Boot Thymeleaf Crud</strong> - csdcodes.net
</div>
<div class="container">
    <h5>Add~Edit</h5>
    <form action="#" th:action="@{/movie/addEdit}" method="put" th:object="${movie}">
        Title:<br/>
        <textarea type="text" class="form-control" id="title" th:field="*{title}" placeholder="Title" rows="20" cols="100"/>
        <br/>
        <button type="submit" class="btn btn-info">Submit</button>
    </form>
</div>
</body>
</html>