<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">
</head>
<body>
<div class="alert alert-success">
    <strong>Spring Boot Thymeleaf Crud</strong> - csdcodes.net
</div>
<div class="container">
    <div style="text-align: right; margin-bottom: 5px;">
        <a th:href="@{/movie/add}" class="btn btn-success" role="button">+ Add movie</a>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Review</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="movie : ${movies}">
            <td th:text="${movie.id}"></td>
            <td th:text="${movie.title}"></td>

            <td>
                <a th:href="@{/movie/edit/{id}(id=${movie.id})}" class="btn btn-success btn-sm" role="button">Update</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>